<h1>About ME!</h1>

<p>I am a new web developer and iOS application writer. I love to code but lack vision and ideas. However, I am trying to improve on those two deficiencies and trying different things.</p>

<%= link_to 'Home', root_path %>
