<h1>Rock on! First official Ruby on Rails site!</h1>


<p>I want to be a web developer and leverage all of the latest web development technology!</p>

<p>On top of that, I want to create iOS apps...</p>

<p>Can I just code and code and code?</p>

<p>I love it.</p>

<%= link_to 'About', about_path %><br>

<%= link_to image_tag('unsplash.jpg'), 'www.enginer.com' %>
