<div class="center jumbotron">
  
  <h1 class="display-3">ALPHA BLOG</h1>
  
  <p class="lead jumbotext">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  
  <hr class="my-4">
  
  <p class="jumbotext" id="small_jumbo_text">It uses utility classes for typography and spacing to space content out within the larger container.</p>
  
  <p class="lead">
    
    <%= link_to "Sign up now", signup_path, class: "btn btn-success btn-lg btn-xlarge", role: "button" %>
    
  </p>
  
</div>
