// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.navbar {
  font-size: inherit;
  margin-bottom: 25px;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url("unsplash.jpg");
  background-size: cover;
  height: 435px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotext {
  color: #fff;
}

#small_jumbo_text {
  padding-top: 20px;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.card {
  margin: 10px;
}