<div class="container">

  <h1 align="center"><%= "Category: " + @category.name %></h1>
  
  <div class="row justify-content-md-center pagination">
    
    <div class="col-10 col-md-auto">
      
      <%= will_paginate(@category_articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
      
    </div>
    
  </div>

  <%= render 'articles/article', obj: @category_articles %>
  
  <div class="row justify-content-md-center pagination">
    
    <div class="col-10 col-md-auto">
      
      <%= will_paginate(@category_articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
      
    </div>
    
  </div>
  
</div>